body {
  margin: 0px;
}

header {
  display: block;
  background: #a1e055;
  border: 0px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 0px;
  padding: 20px;
  text-align: center;
}

nav {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

nav > ul, footer > ul {
  display: inline;
  list-style: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

li {
  display: inline;
  padding: 10px;
  margin: 15px;
}

li > a {
  display: inline-block;
  transition: 0.3s;
}

h1 {
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #fdfdfd;
  text-transform: uppercase;
  letter-spacing: 5px;
}

nav {
  display: block;
  height: 50px;
  width: 100%;
  background: #fafafa;
  margin: 0px;
  padding: 20px;
}

h2 {
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #cccccc;
  text-transform: capitalize;;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #555555;
  letter-spacing: 0.1em;
  word-spacing: 5px;
  line-height: 2em;
}

main {
  width: 100%;
}

#intro {
  margin-left: auto;
  margin-right: auto;
  background-color: #eeeeee;
  padding: 20px;
  margin: 0px;
  width: 600px;
}

button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: 'Arimo', sans-serif;;
  color: #ffffff;
  font-size: 1.25em;
  letter-spacing: 1px;
  background: #a1e055;
  padding: 15px;
  text-decoration: none;
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  text-transform: lowercase;
  outline: none;
}

button:hover {
  background: #cde6af;
  text-decoration: none;
}

footer {
  background: #eaeaea;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  text-align: center;
  display: none;
}

li > a {
  text-decoration: none;
  letter-spacing: 2px;
  color: #444444;
}

li > a:hover{
  color: #ffffff;
}
