body {
  font-family: sans-serif;
  background-color: #E9E9E9;
  color: #333;
}

main > h1 {
  clear: both;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 3em;
  margin: 20px;
  text-transform: uppercase;
}

main > p {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 2em;
  margin: 20px;
}

main {
  vertical-align: middle;
  padding: 50px;
}

section.project-list {
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: flex;
  height: 200px;
  justify-content: space-around;
}

section.project-list > a {
  background-color: #AAA;
  border-radius: 4px;
  box-sizing: border-box;
  color: #333;
  display: flex;
  flex: 20%;
  font-size: 36px;
  font-weight: 700;
  height: 100%;
  margin: 10px 20px;
  padding: 20px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  transition: 0.5s;
  vertical-align: center;
}

section.project-list > a:hover {
  background-color: #333;
  color: #AAA;
  flex: 50%;
}

.project-info {
  color: #111;
  display: none;
  font-size: 18px;
  font-weight: 400px;
  list-style: none;
  margin: 20px 0px;
  padding: 0px;
  text-align: left;
  text-transform: none;
}

section.project-list > a:hover > ul {
  display: block;
  position: absolute;
  top: 200px;
}

.contact-info {
  list-style: none;
  display: flex;
  padding: 0px;
}

.contact-info > li {
  margin: 20px 0px;
}

.contact-info > li > a {
  background-color: #AAA;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  vertical-align: text-bottom;
  padding: 20px 30px;
  margin: 30px 20px;
  width: 100px;
  transition: 0.5s;
}

.contact-info > li > a:hover {
  padding: 20px 200px;
}

@media (max-width: 1280px), handheld{

  main {
    padding: 40px 20px;
  }

  section.project-list {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  section.project-list > a, section.project-list > a:hover {
    flex: 100%;
    font-size: 48px;
    min-width: 300px;
    width: auto;
  }

  .project-info, section.project-list > a:hover > ul {
    text-align: left;
    display: block;
    position: absolute;
    top: auto;
    float: right;
    font-size: 20px;
    margin: 10px 0px;
  }

  section.project-list > a:hover > ul {
    color: #DDD;
  }

}
